projetoSGP.git/Api.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AtualizaChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizaChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AtualizaChaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaBloqueio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaBloqueioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificaBloqueioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AtualizaChaveSoapIn">
    <wsdl:part name="parameters" element="tns:AtualizaChave" />
  </wsdl:message>
  <wsdl:message name="AtualizaChaveSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizaChaveResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaBloqueioSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaBloqueio" />
  </wsdl:message>
  <wsdl:message name="VerificaBloqueioSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaBloqueioResponse" />
  </wsdl:message>
  <wsdl:portType name="APISoap">
    <wsdl:operation name="AtualizaChave">
      <wsdl:input message="tns:AtualizaChaveSoapIn" />
      <wsdl:output message="tns:AtualizaChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificaBloqueio">
      <wsdl:input message="tns:VerificaBloqueioSoapIn" />
      <wsdl:output message="tns:VerificaBloqueioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APISoap" type="tns:APISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AtualizaChave">
      <soap:operation soapAction="http://tempuri.org/AtualizaChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaBloqueio">
      <soap:operation soapAction="http://tempuri.org/VerificaBloqueio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APISoap12" type="tns:APISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AtualizaChave">
      <soap12:operation soapAction="http://tempuri.org/AtualizaChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaBloqueio">
      <soap12:operation soapAction="http://tempuri.org/VerificaBloqueio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="API">
    <wsdl:port name="APISoap" binding="tns:APISoap">
      <soap:address location="http://sgpadmin.gojuri.com.br/api.asmx" />
    </wsdl:port>
    <wsdl:port name="APISoap12" binding="tns:APISoap12">
      <soap12:address location="http://sgpadmin.gojuri.com.br/api.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>